<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/config.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="row">
            <div class="column" >
                <div class="card">
                    <p><a href="/config/categeory">Categeory</a></p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p>Add Announcements</p>
                </div>
            </div>
            </div>
    </main>
    <%- include('../includes/end.ejs') %>